body{
   font-family: 'Raleway', sans-serif;
   transition: .5s;
   background: #C7DB8A;
}

.top-buttons{
   display: none;
}
.top-site{
   height: 200px;;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   transition: .5s;
   background-color: #fff;
   background-image: url('../img/folhas.png');
   background-repeat: repeat-x;
   /* background: linear-gradient(#ECF6CF, #E2F2B4); */
}

/* .top-site.fixed .logo{
   height: 10vh;
   padding: 0;
   margin-left: 2rem;
} */

.nav-item > a{
   color: #2472c5;
   text-transform: uppercase;
   font-weight: bolder;
   font-size: 14pt;
}

.nav-item > a:hover{
   background-color: #2472c5;
   color: #fff;
   transition: 0.5s;
}

.nav-link.active,  .show>.nav-link{
   /* background-color: #2472c5; */
   /* color: #fff; */
   transition: 0.5s;
   border-bottom: 2px solid #2472c5;

}

/* .fixed{
   position: fixed;
   top: 0;
   z-index: 9999;
   background: #fff;
   width: 100vw;
   height: 10vh;
   -webkit-box-shadow: 2px 5px 12px -8px rgba(0,0,0,1);
   -moz-box-shadow: 2px 5px 12px -8px rgba(0,0,0,1);
   box-shadow: 2px 5px 12px -8px rgba(0,0,0,1);
} */

/* .fixed img{
   height: 10vh;
} */

.fixed > span{
   /* content: ''; */
   height: 70px;
   /* width: 50px; */
   background: url('../img/logos/Dr.\ Sindico.svg');
   background-size: 100% 100%;
   width: 20%;
   /* position: absolute; */
   top:0;
   /* left:10 */
}

.panel{
   -webkit-transform: translateZ( 0 );
    transform: translateZ( 0 );
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

nav > ul > a{
   color: red;
}

.logo{
   width: 350px;
   height: 250px;
   transition: 0.5s;
   background-image: url('/img/logos/Dr.\ Sindico.svg');
   background-size: contain;
   background-repeat: no-repeat;
   margin-left: 3rem;
}

.quotes{
   width: 50%;
   margin: 0 auto;
   border-left: 10px #e0e0e0 solid;
   padding: 20px;
   box-sizing: border-box;
   margin-top: 20px;
   margin-bottom: 20px;
}

.quotes h5{
   font-weight: bolder;
}

.quotes span{
   font-style: italic;
}
.empresa.panel h4, .patrocinadores.panel h4, .associados.panel h4, 
.clientes.panel h4, .contato.panel h4{
   font-size: 3em;
   text-align: center;
   font-weight: bolder;
   padding: 2em;
}

.empresa.panel{
   background-color: #fff;
}

.empresa-container{
   display: flex;
   flex-direction: row;
   flex:10;
   justify-content: space-between;
   /* padding: 3em; */
}

.empresa-img{
   /* width: 300px;
   height: 300px; */
   flex: 4;
   background-image: url('../img/fachada.jpg');
   background-size: contain;
   background-repeat: no-repeat;
}


.empresa-sobre{
   flex: 6;
   padding-left: 3em;
}

.empresa.panel, .patrocinadores.panel, .associados.panel, .clientes.panel {
   padding: 4em;
}

.patrocinadores.panel > .row{
   padding: 5em;
   display: flex;
   justify-content: space-between;
}

.associados.panel{
   background-color: #fff;
}

.contato.panel{
   background-color: #fff;
}

.contact-content{
   display: flex;
   justify-content: space-between;
   flex: 10;
   padding: 3rem;
}
.map{
   background-color: #ccc;
   width: 10vw;
   height: 54vh;
   flex: 5;
}

.formulario{
   flex: 5;
   padding: 0 3rem;
}