body{
   font-family: 'Raleway', sans-serif;
   transition: .5s;
}

.top-buttons{
   /* text-align: end; */
   display: none;
}
.top-site{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   transition: .5s;
}

.top-site.fixed .logo{
   /* background-color: green; */
   height: 10vh;
   padding: 0;
}

nav{
   display: flex;
   width: 50vw;
}
nav > ul.nav{
   align-items: flex-end;
}
.nav-item > a{
   color: green;
   text-transform: uppercase;
}

.nav-item > a:hover{
   background-color: green;
   color: #fff;
   transition: 0.5s;
}

.nav-link.active,  .show>.nav-link{
   background-color: green;
   color: #fff;
   transition: 0.5s;
}

.fixed{
   position: fixed;
   top: 0;
   z-index: 9999;
   background-color: rgba(255, 255, 255, 1);
   width: 100vw;
   height: 10vh;
}

.fixed img{
   height: 10vh;
}

.panel{
   -webkit-transform: translateZ( 0 );
    transform: translateZ( 0 );
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

nav > ul > a{
   color: red;
}

.logo{
   float: left;
   justify-content: flex-start;
   width: 20vw;
   height: 30vh;
   padding: 2rem;
   transition: 0.5s;
}

.quotes{
   width: 50%;
   margin: 0 auto;
   border-left: 10px #e0e0e0 solid;
   padding: 20px;
   box-sizing: border-box;
   margin-top: 20px;
}

.quotes h5{
   font-weight: bolder;
}

.quotes span{
   font-style: italic;
}
.empresa.panel h5, .patrocinadores.panel h5, .associados.panel h5, 
.clientes.panel h5, .contato.panel h5{
   font-size: 3em;
   text-align: center;
   font-weight: bolder;
   padding: 2em;
}

.empresa-container{
   display: flex;
   flex-direction: row;
   flex:10;
   justify-content: space-between;
   /* padding: 3em; */
}

.empresa-img{
   width: 10vw;
   height: 10vh;
   flex: 2;
}

.patrocinadores.panel > .row{
   padding: 5em;
   display: flex;
   justify-content: space-between;
}

.empresa-sobre{
   flex: 7;
   padding-left: 3em;
}

.empresa.panel, .patrocinadores.panel, .associados.panel, .clientes.panel {
   padding: 4em;
}